name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Docker Login
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
          echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u ${{secrets.DOCKER_USER}} --password-stdin
          
      - name: Build the Docker image
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}} # Env 변수로 설정
        run: docker build --tag $DOCKER_USER/hangman:latest . # Env 변수 사용
        
      - name: Docker Push
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}} # Env 변수로 설정
        run: docker push $DOCKER_USER/hangman:latest # Env 변수 사용
